{% extends 'registration/base.html' %}

{% block title-meta %}
{% block title %}
گدرواژه با موفقیت تغیر کرد
{% endblock title %}
{% endblock title-meta %}

{% block main %}
<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h4 class="card-title mb-0 float-left"> گدرواژه با موفقیت تغیر کرد </h4>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <h6>گذرواژه با موفقیت تغیر کرد</h6>
            </form>
        </div>
    </div>
</div>

{% endblock main %}